* {
	box-sizing: border-box;
}

body {
	font-family: 'typewriter';
	display: flex;
	justify-content: center;
}

h1, h2, h3 {
	font-family: 'blacklist';
}

h1 {
	color: #FFFFFF;
	width: 100%;
	text-align: center;
	font-size: 75px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: rgb(31, 95, 198);
}

h2 {
	width: 100%;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

/** Définition des polices d'écriute **/
@font-face {
    font-family: 'blacklist';
    src: url('../font/OldNewspaperTypes.ttf');
}

@font-face {
	font-family: 'typewriter';
	src: url('../font/typewcond_regular.otf');
}

#corps{
	width: 90%;
}

#connexion {
	width: 100%;
	background-color: gray;
	height: 50px;
}

header {
	display: flex;
	justify-content: center;
}

	header>div {
		padding: 10px;
		width: 30%;
		border-right: 3px solid black;
	}

	header div:last-child {
		border-right: none;
	}

.article:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

#main {
	width: 100%;
	display: flex;
}

/** Article principal **/
#mainArticle {
	flex-grow: 2;
	padding: 10px;
	overflow: hidden;
}

#mainArticle>div {
	display: flex;
	justify-content: center;
	width: 100%;
}


/** Menu latéral **/
#sideMenu {
	min-width: 20%;
	border-left: 2px solid black
}

#sideMenu>div {
	padding: 10px;
	border-bottom: 2px solid black;
}

#sideMenu div:last-child {
	border-bottom: none;
}